<footer class="page-footer font-small bg-dark">
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center"> 

            <h4 class="text-light mt-3">Siga-me nas redes sociais!</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-icon">
                <li>
                    <a href="https://github.com/samuelsaturn" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/samuel-mathias-7480a7212/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/samuelsaturn" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div> 
</div>
<div class="footer-copyright bg-secondary text-center text-light py-3">
    <span>Feito por Saturno 🪐</span>
</div>
</footer>
