<footer class="page-footer font-small bg-preto">
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center"> 

            
        </div>
    </div>

    <div class="row d-flex justify-content-around">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <ul class="social-icon mb-1">
                <li>
                    <a href="https://github.com/samuelsaturn" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/samuel-mathias-7480a7212/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/sarateni_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send/?phone=%2B551963507101&text&app_absent=0" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <img class="bmo" src="https://imgur.com/GWqNzEx.gif" alt="BMO">
        </div>
        <div class="column col-md-4 d-flex justify-content-center align-items-center text-light">
            <img class="gen" src="https://i.imgur.com/oGKvCzi.png" alt="Imagem da Gen">       
        </div>
    </div> 
</div>
<div class="footer-copyright bg-cinza text-center text-light">
    <span class="font-pixel">Feito por Saturno 🪐</span>
</div>
</footer>
