.social-icon {
    list-style: none;
    padding: 0;
}

ul.social-icon li {
    display: inline;
    margin: 0;
    padding-right: 20px;
    font-size: 40px;
}

.font-pixel {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.bg-preto {
    background-color: #131515;
}

.bg-cinza {
    background-color: #1b1d1d;
}

.bmo {
    width: 10vw;
    padding: 10px;
}

.gen {
    max-height: 10vh;
}


.fa {
    color: white;
}

.fa-github:hover {
    color: black;
}

.fa-linkedin-square:hover {
    color: #0a66c2;
}

.fa-whatsapp:hover {
    color: #58f777;
}

@media(max-width: 750px){
    .bmo{
        min-width: 120px;
    }

    .gen {
        margin-bottom: 10px;
    }
}