<div id="img-bg" class="container-fluid height d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 bg m-5">
                <a routerLink="/inicio" class="text-white text-left">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Início
                </a>
                <h1 class="text-center textoneon1">Sobre</h1>
                <h4 class="text-center textoneon1 mt-5">
                    Em um planeta chamado A2W3-RL localizado na parte noroeste da Galáxia Messier 83, existe uma
                    cafeteria chamada "Coffe Stargazing", famoso pelas discussões filosóficas, poéticas, descobertas
                    tecnológicas ou quaisquer assuntos interessantes de seus frequentadores, e claro, pelo seu saboroso
                    café expresso A32. Seja um ser humano, um vogon, um ciborque ou qualquer raça intergalática, todes
                    são bem-vindes aqui. Fique a vontade para pedir qualquer bebida existente no universo e de expor
                    seus pensamentos a cerca da existência.
                </h4>
            </div>
        </div>
    </div>
</div>