<nav class="navbar navbar-expand-lg navbar-dark bg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <a routerLink="/inicio" class="nav-item active">
        <img  src="../../assets/img/coffe star logo.gif" alt="Imagem de Perfil" height="50" width="50" class="rounded-circle img-fluid">
      </a>
      <li class="nav-item pl-3">
        <p class="m-0 text-light font textoneon1">Coffe Stargazing
        </p>
      </li>
    </ul>
    <a href="#" class="text-light" (click)="sair()">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
    </a>

  </div>
</nav>