#img-bg {
  background-image: url(https://wallpapercave.com/wp/wp2555900.gif);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  background-color: rgba(19, 65, 13, 0.479);
  border-radius: 16px;
  padding: 3rem;
}

.mt {
  margin-top: 2rem;
}

h1 {
  font-family: "Big Shoulders Stencil Display", cursive;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #cdde5d 0%,
    #7aa44e 29%,
    #5ca64b 67%,
    #179e6a 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.neon-red {
  text-decoration: none;
  color: #FF3131;
  border: #FF3131 3px solid;
  
  box-shadow: inset 0 0 16px 0 #FF3131, 0 0 16px 0 #FF3131;
  text-shadow: 0 0 8px hsl(0 0% 100%/ 0.3, 0 0 16px 0, lightness);
}

.neon-green {
  text-decoration: none;
  color: #39ff14;
  border: #39ff14 3px solid;
  
  box-shadow: inset 0 0 16px 0 #39ff14, 0 0 16px 0 #39ff14;
  text-shadow: 0 0 8px hsl(0 0% 100%/ 0.3, 0 0 16px 0, lightness);
}

.neon-red:hover {
  text-decoration: none;
  color: #FF3131;
  border: #FF3131 3px solid;
  
  box-shadow: inset 0 0 32px 0 #FF3131, 0 0 32px 0 #FF3131;
  text-shadow: 0 0 8px hsl(0 0% 100%/ 0.3, 0 0 32px 0, lightness);
}

.neon-green:hover {
  text-decoration: none;
  color: #39ff14;
  border: #39ff14 3px solid;
  
  box-shadow: inset 0 0 32px 0 #39ff14, 0 0 32px 0 #39ff14;
  text-shadow: 0 0 8px hsl(0 0% 100%/ 0.3, 0 0 32px 0, lightness);
}