<div class="container-fluid" id="img-bg">
    <div class="row d-flex align-items-center">

        <div class="col-md-" id="img-bg"></div>

        <div class="col-md-12">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-4 bg m-5">
                    <h1 class="text-center mb-3 animate-charcter">Cadastre-se</h1>

                    <form>
                        <div class="form-group">
                            <input [(ngModel)]="usuario.nome" class="form-control borda" type="text" placeholder="Nome*" name="nome" >
                        </div>

                        <div class="form-group">
                            <input [(ngModel)]="usuario.usuario" class="form-control borda" type="email" placeholder="E-mail*" name="email">
                        </div>

                        <div class="form-group">
                            <input (input)="confirmSenha($event)" class="form-control borda" type="password" placeholder="Senha* (mínimo 6 caracteres)" name="senha">
                        </div>

                        <div class="form-group">
                            <input [(ngModel)]="usuario.senha" class="form-control borda" type="password" placeholder="Confirmar senha*" name="ConfirmSenha">
                        </div>

                        <div class="form-group">
                            <input [(ngModel)]="usuario.foto" class="form-control borda" type="text" placeholder="Link da Foto (opcional)" name="foto">
                        </div>
                        
                        <div>
                            <select class="form-control borda" name="selecionar" id="selecionar" (change)="tipoUser($event)" name="tipo">
                                <option value="" selected disabled>Selecione um tipo de usuário*</option>
                                <option value="adm">Administrador</option>
                                <option value="normal">Normal</option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-center mt-4">
                            <a routerLink="/entrar"><button type="submit" class="btn mr-5 neon-red">Cancelar</button></a>
                            
                            <button type="submit" class="btn neon-green" (click)="cadastrar()">Confirmar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        
    </div>
</div>
