#img-bg {
    background-image: url(https://64.media.tumblr.com/7fab1571dbb6d06a4b8d9add894b41a8/df4933848cd9ae62-46/s1280x1920/0a4f7f7a92d2ed425e3bcaf236397e30cd2bfbbb.gifv);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}