#img-bg {
    background-image: url(https://64.media.tumblr.com/2dd71de6df72a03757b65de0d3c9820d/tumblr_prs5fuKfiR1qbw2q1o1_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}