<div id="img-bg" class="container-fluid">

    <div class="row d-flex justify-content-center">
        <div class="col-md-12 mb-2">
            <h1 class="text-center text-light textoneon3 mt-4">Atualizar Postagem</h1>
        </div>
        <div class="col-md-6 post radius m-4">
            <div class="form-group mt-2">
                <label for="">Titulo</label>
                <input [(ngModel)]="postagem.titulo" class="form-control borda" type="text">
            </div>

            <div class="form-group">
                <label for="">Texto</label>
                <textarea [(ngModel)]="postagem.texto" class="form-control borda" name="texto" id="texto" cols="30"
                    rows="5"></textarea>
            </div>

            <div>
                <label for="">Foto</label>
                <input [(ngModel)]="postagem.foto" type="text" class="form-control borda mb-3" id="foto"
                    placeholder="Link da foto (opcional)" name="foto" />
            </div>

            <div class="form-group">
                <label for="texto">Escolha um tema ou
                    <a data-dismiss="modal" class="cad-tema textoneon2" routerLink="/tema"> cadastre um novo</a>:
                </label>
                <select class="form-control borda" name="tema" id="tema" [(ngModel)]="idTema"
                    (change)="findByIdTema()">
                    <option *ngFor="let tema of listaTemas" value="{{tema.id}}">{{tema.descricao}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">O que deseja beber hoje?</label>
                <select class="form-control borda" name="bebida" id="bebida">
                    <option selected disabled value="">Escolha uma bebida</option>
                    <option value="">Café</option>
                    <option value="">Chá</option>
                    <option value="">Coca-Cola</option>
                </select>
            </div>


            <div class="d-flex justify-content-center mb-4 mt-4">
                <button class="btn neon-red mr-4" routerLink="/inicio">Cancelar</button>
                <button class="btn neon-green" (click)="atualizar()">Atualizar</button>
            </div>

        </div>
    </div>
</div>