<div class="container-fluid " id="img-bg">
    <div class="row d-flex align-items-center">

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 bg m-5">
                    <h1 class="text-center mb-3 animate-charcter">Entrar</h1>

                    <form>
                        <div class="form-group">
                            <label class="text-light" for="">E-mail</label>
                            <input class="form-control" type="text" placeholder="Digite seu e-mail" name="email"
                                [(ngModel)]="usuarioLogin.usuario">
                        </div>

                        <div class="form-group">
                            <label class="text-light" for="">Senha</label>
                            <input class="form-control text-neon" type="password" placeholder="Digite sua senha"
                                name="senha" [(ngModel)]="usuarioLogin.senha">
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn mt-4 neon-blue" (click)='entrar()'>Logar</button>
                        </div>

                        <hr class="mb-4 mt-4 w-55">

                        <p class="text-center text-light">
                            Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-" id="img-bg"></div>

    </div>
</div>